ROS_sim/server_testing

*.pyc
*.lock

ROS_sim/src/py_srvcli2/*
ROS_sim/build/*
ROS_sim/install/*
ROS_sim/log/*
ROS_sim/src/client_drone/client_drone/etcd
ROS_sim/src/client_drone/client_drone/etcdctl
ROS_sim/src/client_drone/client_drone/testing_env.sh
ROS_sim/src/client_drone/resouce/*
ROS_sim/src/client_drone/test/*

ROS_sim/*

policy_update/istio-opa/draft/*
policy_update/rego_git/*

src/holistic_policy/k8s_deployment/setting

*/image/*
object_classification/src/artifact/dataset/*
*.csv
*.onnx
*.JPEG

policy_update/rego_git/*
policy_update/istio-opa/knowledge.md
policy_update/docker/*

application-testing/*

test/*

*.DS_Store

drone/src/drone/scripts/etcd
drone/src/drone/scripts/etcdctl
